.contentWrapper_cctv{
	display: flex;
	justify-content: center;
	
}

#mapLocation {
	width : 500px;
	height: 650px;
	margin-left: 1%;
}


.cctvView{
	width: 600px;
	height: 650px;
	margin-left: 1%;
}

.lineBtns{
	width: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.lineBtn{
	margin-top: 5%;
}

