.contentWrapper_cctv{
	border: 3px solid yellow;
	display: flex;
	justify-content: center;
	
}

#mapLocation {
	border: 1px solid greenyellow;
	width : 500px;
	height: 650px;
	margin-left: 1%;
}


.cctvView{
	border: 1px solid red;
	width: 600px;
	height: 650px;
	margin-left: 1%;
}

.lineBtns{
	border: 1px solid white;
	width: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.lineBtn{
	margin-top: 5%;
}

