.tt{
	color : red;
}

.arr{
	color : red;
}

html, body{
    margin: 0;
    padding: 0;
    color: white;
}

.wrapper{
    background-image: url('../images/indexBackground2.jpg');
    width: 100%;
    height: 1200px;
    background-repeat : no-repeat;
    background-size : cover;
}

.main{
    height: 90%;
}

.main_nav{
    height: 10%;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoWrapper{
    margin-left: 3%;
}

.logo{
    color: white;
    text-decoration: none;
}

.navContentWrapper{
    width: 25%;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
}



.navContentWrapper div a{
    color: whitesmoke;
    text-decoration: none;
}

.cctv:hover{
    color: rgb(2, 150, 255);
}

.accident:hover{
    color: red;
}

.notice:hover{
    color: rgb(255, 183, 0);
}

.contentWrapper{
    height: 90%;
    display: flex;
}

.footer{
    height: 10%;
}

