.tt{
	color : red;
}

.arr{
	color : red;
}

html, body{
    margin: 0;
    padding: 0;
    color: white;
}

.wrapper{
    background-image: url('../images/backgroundIMG.jpg');
    width: 100%;
    height: 1020px;
    background-repeat : no-repeat;
    background-size : cover;
}

.main{
    height: 80%;
}

.main_nav{
    height: 10%;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoWrapper{
    margin-left: 3%;
}

.logo{
	width: 100px;
	height: 100px;
	margin-top: 30px;
}

.navContentWrapper{
    width: 25%;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
}



.navContentWrapper div a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}

.cctv:hover{
    color: rgb(2, 150, 255);
    background-color: whitesmoke;
}

.accident:hover{
    color: red;
    background-color: whitesmoke;
}

.notice:hover{
    color: rgb(255, 183, 0);
    background-color: whitesmoke;
}

.contentWrapper{
    height: 90%;
    display: flex;
}

.footer{
	align-items: center;
	border-top: 2px dashed white;
    height: 20%;
    font-size: 20px;
    text-align: center;
}

