<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<div id="resultBox">

</div>
조회 연도 : <select id="searchYear"> 
			<option value="-1">연도를 선택해주세요</option>
			<option>2012</option>
			<option>2013</option>
			<option>2014</option>
			<option>2015</option>
			<option>2016</option>
			<option>2017</option>
			<option>2018</option>
			<option>2019</option>
			<option>2020</option>
		</select><br>
조회 지역 : <select id="city" onchange="changeCity(this.value);">
				<option value="-1">도시를 선택해주세요</option>
        		<option th:each="cityList : ${cityList}" id="cityListValue"
        		th:value="${cityList.city_value}">[[${cityList.city_name}]]</option>
    		</select><br>
상세지역 : <select id="gugun"></select><br>
<button id="searchBtn"> 검색 </button>

<div id="testBox">

</div>


<script src="../js/apiJS.js"></script>
</body>
</html>