<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index_css.css">
   
    <title>반갑습니다</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <div class="wrapper">

        <div class="main">
            <nav class="main_nav">
                <div class="logoWrapper">
                    <div><a class="logo" href="/">로고들어올자리</a></div>
                </div>
                <div class="navContentWrapper">
                    <div><a class="cctv" href="/traffic/cctv">CCTV 보러가기</a></div>
                    <div><a class="accident" href="/traffic/searchTraffic">지역별 사고현황</a></div>
                    <div><a class="notice" href="#">공지사항</a></div>
                </div>
            </nav>
            
            <div class="contentWrapper">

                

            </div>
        </div>
        <div class="footer"></div>

    </div>

<script src="js/index.js"></script>

</body>
</html>